# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Model files
*.pth
*.pt

# Uploads & generated media
frontend_flask/static/uploads/
video_detection/output/
*.mp4
*.avi
*.mov
*.mkv
*.heic
*.HEIC
*.webp

# Datasets
data/
dataset/
datasets/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
